<tr>
  <td><%= question.q_type %></td>
  <td><%= question.description %></td>
  <td><%= question.settings %></td>
  <td><%= question.survey.id.to_s + '.' + question.survey.name %></td>
  <td><%= link_to 'Show', [@survey, question] %></td>
  <td><%= link_to 'Destroy', survey_question_path(@survey, question), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
