<%= form_with(model: [@survey, question], local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :q_type %> <br><br>
    <%= form.select :q_type, ['multiple_choice', 'free_response','game'] %>
  </div> <br>

  <div class="field">
    <%= form.label :description %> <br>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <!-- <% if params[:survey_id].present? %> <br> -->
      <%= form.hidden_field :survey_id, value: params[:survey_id] %>
    <!-- <% else %>
      <%= form.label :survey_id %>
      <%= form.collection_select :survey_id, Survey.order(created_at: :desc), :id, :name, include_blank: true %>
    <% end %> -->
  </div> <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
