<!-- needed in surveys/show -->
<div class="form-group">
  <div class="question-desc" id="desc_id_<%= question.id %>"><%= markdown(question.description) %></div>

  <% if question.q_type == 'multiple_choice' %>
    <% unless question.settings == 'null' %>
    <div class="form-button-group">
      <% question.settings.each do |key, value| %>
        <div class="form-button-container fl-basis-100">
          <input type="radio" name="answers[<%= question.id %>]"
          value="<%= key+" : "+value %>" required class="hidden" id="option-button-<%= key.camelize %>" />
          <label for="option-button-<%= key.camelize %>">
            <span><%= value %></span>
          </label>
        </div>
      <% end %>
      </div>
    <% end %>

  <% elsif question.q_type == 'button_group' %>
    <% unless question.settings == 'null' %>
    <div class="form-button-group">
      <% question.settings.each do |key, value| %>
        <div class="form-button-container">
          <input type="radio" name="answers[<%= question.id %>]"
          value="<%= key+" : "+value %>" required class="hidden" id="option-button-<%= key.camelize %>" />
          <label for="option-button-<%= key.camelize %>">
            <span><%= value %></span>
          </label>
        </div>
        <% end %>
      </div>
    <% end %>

  <% elsif question.q_type == 'free_response' %>
    <textarea class="form-control" name="answers[<%= question.id %>]"
      rows="4" required></textarea>

  <% elsif question.q_type=='game' %>
    <%= render 'questions/game' + question.settings['GameID'].to_s, question: question %>

  <% elsif question.q_type=='video' %>
    <iframe width="560" height="315" src="<%= question.settings['url'] %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
    </iframe>

  <% else %>
    <div>Unknown question type: shouldn't happen... Contact tech support if you see this</div>
  <% end %>

  <br>
</div>

<script>
  setInterval(function() {
    var groups = {};
    var buttons =  document.querySelectorAll('.form-button-container label');
    for (var i in buttons) {
      if (!buttons.hasOwnProperty(i)) continue;
      var el = buttons[i];
      var top = el.getBoundingClientRect().top;
      if (top === 0) continue;
      if (!groups[top]) groups[top] = [];
      groups[top].push(el);
    }

    for (var i in groups) {
      if (!groups.hasOwnProperty(i)) continue;
      var group = groups[i];
      var maxHeight = -1;
      for (var j in group) maxHeight = Math.max(maxHeight, group[j].offsetHeight);
      for (var j in group) {
        if (group[j].style.height === maxHeight + 'px') continue;
        group[j].style.height = maxHeight + 'px';
      }
    }
  }, 500);
</script>