<!-- needed in surveys/show -->
<div class="form-group">
  <div><%= markdown(question.description) %></div><br>

  <% if question.q_type == 'multiple_choice' %>
    <% unless question.settings == 'null' %>
      <% question.settings.each do |key, value| %>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="answers[<%= question.id %>]"
          value="<%= key+" : "+value %>" required/>
          <label class="form-check-label" for="option-button-<%= key %>">
            <%= value %>
          </label>
        </div>
      <% end %>
    <% end %>

  <% elsif question.q_type == 'button_group' %>
    <% unless question.settings == 'null' %>
      <div class="input-group" data-toggle="buttons">
        <div class="input-group-prepend">
        <% question.settings.each do |key, value| %>
          <button type="button" class="btn btn-outline-dark">
            <input type="radio" name="answers[<%= question.id %>]"
            value="<%= key+" : "+value %>" required hidden> <%= value %>
          </button>
        <% end %>
        </div>
      </div>
    <% end %>

  <% elsif question.q_type == 'free_response' %>
    <textarea class="form-control" name="answers[<%= question.id %>]"
      rows="4" required></textarea>

  <% elsif question.q_type=='game' %>
    <%= render 'questions/game' + question.settings['GameID'].to_s, question: question %>

  <% elsif question.q_type=='video' %>
    <iframe width="560" height="315" src="<%= question.settings['url'] %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
    </iframe>

  <% else %>
    <div>Unknown question type: shouldn't happen... Contact tech support if you see this</div>
  <% end %>

  <br>
</div>
