<p>
  <strong>Q type:</strong>
  <%= @question.q_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @question.description %>
</p>

<p>
  <strong>Settings:</strong>
  <%= @question.settings %>
</p>

<p>
  <strong>Survey:</strong>
  <%= @question.survey.id.to_s + '.' + @question.survey.name %>
</p>

<%= link_to 'Edit', edit_survey_question_path(@survey, @question) %> |
<%= link_to 'Back', edit_survey_path(@survey) %>
