<h1>Editing Survey</h1>

<%= render 'form', survey: @survey %>

<div class="py-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Page ID</th>
        <th scope="col">Page Number</th>
        <th scope="col" colspan="2">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @survey.pages.each do |page| %>
        <tr>
          <td><%= page.id %></td>
          <td><%= page.pagenum %></td>
          <td><%= link_to 'Edit', edit_survey_page_path(@survey, page) %></td>
          <td><%= link_to 'Destroy', survey_page_path(@survey, page),
          method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'New Page', new_survey_page_path(@survey) %> |
<%= link_to 'Back', @survey %>
