<!-- 
<div>
  <h4 class="mb-3">Name:</h4>
  <div class="mb-3"><%= @survey.name %></div>
</div>

<div>
  <h4 class="mb-3">Description:</h4>
  <div class="mb-3"><%= markdown(@survey.description) %></div>
</div>
 -->

<%-# render 'render_question_list', survey: @survey -%>

<br><br>

<form role="form" action="<%= survey_survey_responses_path(@survey) %>?ran_1=<%=@ran1%>&ran_2=<%=@ran2%>"
  accept-charset="UTF-8" method="post" id="surveyForm">
  <input type="hidden" name="id" value="<%= @survey.id %>">
  <input type="hidden" name="participant" value="<%= @ran1 + '+' + @ran2 %>">

  <div id="carouselInForm" class="carousel slide" data-interval="false">
    <ol class="carousel-indicators">
      <% @survey.pages.each_with_index do |page, idx| %>
        <% if idx == 0 %>
        <li data-target="#carouselInForm" data-slide-to="<%= idx %>" class="active"></li>
        <% else %>
        <li data-target="#carouselInForm" data-slide-to="<%= idx %>"></li>
        <% end %>
      <% end %>
    </ol>
    <div class="carousel-inner">
      <% @survey.pages.each_with_index do |page, idx| %>
        <% if idx == 0 %>
        <div class="carousel-item active">
        <% else %>
        <div class="carousel-item">
        <% end %>
          <%= render page.questions %>
        </div>
      <% end %>
    </div>
    <div class="text-center" id="submit-container">
      <input id="submit_btn" type="submit" value="Submit" class="btn btn-primary"
      data-disable_with="Submitting..."/>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <div>
      <button type="button" class="btn btn-light nav-btn" href="#carouselInForm"
      role="button" data-slide="prev">
        <i class="material-icons">navigate_before</i>
      </button>
    </div>

    <!-- <div id="pagenum" class="text-center py-2"></div> -->

    <div>
      <button type="button" class="btn btn-light nav-btn" href="#carouselInForm"
      role="button" data-slide="next">
        <i class="material-icons">navigate_next</i>
      </button>
    </div>
  </div>
</form>

<style>
  .material-icons {
    vertical-align: middle;
  }
  .nav-btn {
      transition: background .3s;
      background-color: #007dff;
      color: #fff;
      padding: 7px 16px;
      margin-bottom: 10px;
  }
  .nav-btn:hover {
    background: #0071e6;
    color: #fff;
  }
</style>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_survey_path(@survey) %> |
<% end %>
<%= link_to 'Exit', surveys_path %>

<% content_for :scripts do %>
  <script>
  // var pagenumField = document.querySelector('#pagenum');
  //
  // pagenumField.appendChild(document.createTextNode($('.active').index()+1));
  //
  // $('#carouselInForm').on('slide.bs.carousel', function(e){
  //   // console.log(e.direction)     // The direction in which the carousel is sliding (either "left" or "right").
  //   // console.log(e.relatedTarget) // The DOM element that is being slid into place as the active item.
  //   // console.log(e.from)          // The index of the current item.
  //   // console.log(e.to)            // The index of the next item.
  //   pagenumField.firstChild.nodeValue = e.to+1;
  // });
  //
  // var form = document.getElementById('surveyForm');
  //
  // var validateForm = function (){
  //   if (!form.checkValidity()){
  //   }
  // }
  var submitContainer = $('#submit-container');
  var prevBtn = $('[data-slide="prev"]');
  var nextBtn = $('[data-slide="next"]');
  var carouselIndicators = $('.carousel-indicators');

  prevBtn.hide();
  submitContainer.hide();

  if (<%= @survey.pages.length %> === 1) {
    nextBtn.hide();
    carouselIndicators.hide();
    submitContainer.show();
  }

  var validator = $('form').validate({
    showErrors: function (errorMap, errorList) {
      $.each(this.successList, function (index, element) {
        return $(element).popover("dispose");
      });

      $.each(errorList, function (index, error) {
        var ele = $(error.element);
        // if (ele.hasClass('game-input')) return true;
        
        //Instead of referencing the popover directly, I use the element that is the target for the popover

        ele.popover({
          trigger: "manual",
          placement: "top",
          content: error.message,
        });
        
        return ele.popover("show");
      });
    }
  });

  var checkActivePageValidity = function () {
    var activePage = document.querySelector('.carousel-item.active');
    var allValid = ['input', 'textarea', 'select']
      .flatMap(x => Array.from(activePage.querySelectorAll(x)))
      .reduce((allValid, el) => allValid && validator.element($(el)), true);
    return allValid;
  }

  $('form').on('submit', function(e) {
    var isValid = checkActivePageValidity();
    if (!isValid) {
      e.preventDefault();
      return false;
    }
  });

  $('#carouselInForm').on('slide.bs.carousel', function (e) {
    var isActivePageValid = checkActivePageValidity();
    if (!isActivePageValid) {
      e.preventDefault();
      return false;
    }
    if (e.to === <%= @survey.pages.length - 1 %>) {
      prevBtn.show();
      nextBtn.hide();
      submitContainer.show();
    } else if (e.to === 0) {
      prevBtn.hide();
      nextBtn.show();
      submitContainer.hide();
    } else {
      prevBtn.show();
      nextBtn.show();
      submitContainer.hide();
    }
  });
  </script>
<% end %>
