<div>
  <h4 class="mb-3">Name:</h4>
  <div class="mb-3"><%= @survey.name %></div>
</div>

<div>
  <h4 class="mb-3">Description:</h4>
  <div class="mb-3"><%= @survey.description %></div>
</div>

<%= render 'render_question_list', survey: @survey %>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
